@font-face{
    font-family: 'o';
    src: url('../assets/fonts/orbitron/Orbitron-Regular.ttf');
}
@font-face{
    font-family: 'o_bold';
    src: url('../assets/fonts/orbitron/Orbitron-Bold.ttf');
}
@font-face{
    font-family: 'o-semibold';
    src: url('../assets/fonts/orbitron/Orbitron-SemiBold.ttf');
}
@font-face{
    font-family: 'nun';
    src: url('../assets/fonts/nunito/Nunito-Regular.ttf');
}
@font-face{
    font-family: 'nun-semi';
    src: url('../assets/fonts/nunito/Nunito-SemiBold.ttf');
}
@font-face{
    font-family: 'nun-bold';
    src: url('../assets/fonts/nunito/Nunito-Bold.ttf');
}
h1,h2,h3,h4,h5,h6,p{
    text-size-adjust: inherit;
    font-size-adjust: inherit;
}
h1,h2,h3,h4{
    font-family: 'o', sans-serif !important;
}
h5,h6,p,label,button,a{
    font-family: 'nun', sans-serif !important;
}
a{
    text-decoration: none !important;
}
.containe{
    width: 90%;
    margin: 0 auto !important;
}




@media only screen and (min-width:768px){
    .company_name{
        font-family: 'o' !important;
        font-size: 26px !important;
    }
}
@media only screen and (min-width:1024px){
    .containe{
        width: 80%;
    }
}
@media only screen and (min-width: 1200px){
    .containe{
        width: 1120px;
    }
}