html {
    scroll-behavior: smooth !important;
}
body{
    width: 100%;
    height: 100%;
}
#home{
    background-image: url('../assets/images/home/QA-qQfWJM0E.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
#home h3{
    font-family: 'nun-bold' !important;
    color: #87DFD6 !important;
}
.txt_container{
    position: relative !important;
}
.txt{
    /* border: 0px solid white; */
    width: 63%;
}
.box_qobi{
    display: block;
    /* border: 1px solid white; */
    width: 100px;
    height: 100px;
    position: absolute;
    border: 3px solid #FBFD8A;
}
.tl{border-right: none; border-bottom: none;top:0;left:0;}
.tr{border-left: none; border-bottom: none;top:0;right:0;}
.bl{border-right: none; border-top: none;bottom: 0;left: 0;}
.br{border-left: none; border-top: none;bottom: 0;right: 0;}
.btn_container{
    width: max-content;
    padding: 5px 0px 5px 5px;
    position: relative;
}
.btn_container span{display:block;width: 97%;height: 85%; border: 1px solid #FBFD8A;position: absolute;top:0;left:0}
.btn_container button{
    padding: 12px 20px; color: #fff;background: #01A9B4;font-family: 'nun-bold' !important;position: relative;z-index: 1;
}
.call_action_btn,.scroll_down{justify-content: center;}
.arr_container span{
    display: block;
    color: #FBFD8A;
    font-size: 30px;
}
#mymusic .header h1,#gallery .header h1,
#shows .header h1,#connect .header h1
{font-family: 'o_bold' !important; color: #2E4C49;transition: .4s ease-in-out;}
#mymusic .header h1:hover,#gallery .header h1:hover,
#shows .header h1:hover,#connect .header h1:hover
{color:#87DFD6;}
.body{
    width: 100%;
}
.mymusic_gallery{
    display: grid;
    align-items: center;
    grid-template-columns: auto;
}
.mymusic_gallery .content,
.left_gallery .content,
.right_gallery .content{
    width: 100% !important;
    /* border: 1px solid white !important; */
}
.img_container{
    width: 100%;
    height: fit-content;
    padding-bottom: 15px;
    /* border: 1px solid white; */
    position: relative;
}
.img_holder{width: 95%;position: relative;overflow: hidden;z-index: 1;}

.img_holder img,.img_holder video{width: 100%;position: relative;}

.img_holder .filter_img{display: block;width: 100%;height: 100%; top: 0;left: 0;position: absolute;background: rgba(0,0,0,.4);}

.img_container span{display: block;width: 95%;height: 95%; bottom: 0;right: 0;position: absolute;}

.call_to_action_section .txt{text-align: center;}

.call_to_action_section .txt h4{color:#CCF8FB;font-family: 'nun-bold'!important;}

.call_to_action_section .txt p{color:#fff;font-family: 'nun-bold';}

.btns{text-align: center;}

.btns img{margin: 0 10px;}

#gallery .img_holder,#shows .img_holder{width: 100%;}

#gallery .call_to_action_section .year{width:fit-content;margin: 0 auto !important;}

#gallery .call_to_action_section span{display: block;width:100%;height: 5px;background: #FBFD8A;}

.arr_container{
    transition: 4s ease-in-out !important;
    animation: pulse 2s infinite !important;
    border: 1px solid white;
}
.close_icon img{
    width: 20px !important;
}

@keyframes pulse{
    0%{
        transform : translateY(0%);
    }
    50%{
        transform : translateY(10%);
    }
    100%{
        transform : translateY(0%);
    }
}

#connect .body{flex-direction: column !important; align-items: center !important;}

#connect .body a{display: block;margin: 25px 0 !important;}

@media only screen and (min-width:768px){
    .mymusic_gallery{
        justify-content: space-between;
        grid-template-columns: auto auto;
    }
    .mymusic_gallery .content{
        width: 300px;
    }   
    .left_gallery .content{width: 90% !important;}
    .right_gallery .content{ width: 100% !important;}
    .call_to_action_section .txt{text-align: left !important;}
    #shows .call_action_btn{justify-content: flex-end !important;}
    .btns{text-align: left;}
    .btns img{margin:0;margin-right: 20px;}

    #gallery .call_to_action_section .year{width:fit-content;margin: 0 !important;}
}

@media only screen and (min-width:992px){
    .call_action_btn,.scroll_down{justify-content: flex-end !important; }
        
    #connect .body{flex-direction: row !important; align-items: center !important;}

    #connect .body a{display: block;margin: 0 !important;}

}

@media only screen and (min-width:1200px){
    .body{
        width: 95%;
    }
    .mymusic_gallery{
        grid-template-columns: auto auto auto;
    }
}