html {
    scroll-behavior: smooth !important;
}
body{
    width: 100%;
    height: 100%;
}
#home{
    background-image: url('../images/home/1440x1024.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 100vh;
}
#home h1{
    font-family: var(--text-font) !important;
    color: #87DFD6 !important;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
}
.txt_container{
    position: relative !important;
    width: 100% !important;
    margin: 0 auto !important;
    margin-top: 210px !important;
}
#home .call_action_btn{ width: 100% !important;}

.txt{
    width: 75%;
}

.txt_container .txt h1{
    font-family: var(--text-font), sans-serif !important;
    font-style: normal !important;
    font-weight: 800 !important;
    font-size: 20px !important;
    line-height: 27px !important;
}

.box_qobi{
    display: block;
    width: 112px;
    height: 100px;
    position: absolute;
    border: 4px solid #FBFD8A;
}
.tl{border-right: none; border-bottom: none;top:0;left:0;}
.tr{border-left: none; border-bottom: none;top:0;right:0;}
.bl{border-right: none; border-top: none;bottom: 0;left: 0;}
.br{border-left: none; border-top: none;bottom: 0;right: 0;}
.btn_container{
    width: max-content;
    padding: 5px 0px 5px 5px;
    position: relative;
}
.btn_container span{display:block;width: 97%;height: 85%;position: absolute;top:0;left:0}

.btn_container button{
    width:160.73px;height:45.45px; color: #fff;background: #01A9B4;font-family: var(--text-font) !important;position: relative;z-index: 1;font-size: 12px !important;
}

.call_action_btn,.scroll_down{justify-content: center;}

.arr_container{
    margin-top: 60px !important;
}

.arr_container span{
    display: block;
    color: #FBFD8A;
    font-size: 30px;
}
#mymusic .header h1,#gallery .header h1,
#shows .header h1,#connect .header h1
{   font-family: var(--header-font) !important; 
    color:#87DFD6;
    opacity: 0.34;
    transition: .4s ease-in-out;
    font-size: 32px !important;
    font-style: normal !important;
    font-weight: bold !important;
    line-height: 40px !important;
}

#mymusic .header h1:hover,#gallery .header h1:hover,
#shows .header h1:hover,#connect .header h1:hover
{opacity: 1;}
.body{
    width: 100%;
}
.mymusic_gallery{
    display: grid;
    align-items: center;
    grid-template-columns: auto;
}
.mymusic_gallery .content,
.left_gallery .content,
.right_gallery .content{
    width: 100% !important;
}
.img_container{
    width: 100%;
    height: fit-content;
    padding-bottom: 15px;
    position: relative;
}
.img_holder{width: 95%;position: relative;overflow: hidden;z-index: 1;}

.img_holder img,.img_holder video{width: 100%;position: relative;}

.img_holder .filter_img{display: block;width: 100%;height: 100%; top: 0;left: 0;position: absolute;background: rgba(0,0,0,.4);}

.img_container span{display: block;width: 95%;height: 95%; bottom: 0;right: 0;position: absolute;}

.call_to_action_section .txt{text-align: center;}

.call_to_action_section .txt h4{color:#CCF8FB;font-family: var(--text-font)!important;font-size: 28px !important;}

.call_to_action_section .txt p{color:#fff;font-family: var(--text-font);font-size: 16px !important;}

.btns{text-align: center;}

.btns img{margin: 0 10px;}

#gallery .img_holder,#shows .img_holder{width: 100%;}

#gallery .call_to_action_section .year{width:fit-content;margin: 0 auto !important;}

#gallery .call_to_action_section span{display: block;width:100%;height: 5px;background: #FBFD8A;}

#shows .img_container{
    height: 765px !important
}

#shows .img_container .img_holder,#shows .img_container .img_holder {height: 100% !important;}

#shows .img_container .img_holder img{width: auto;}

#shows .desktop_img{
    display: none !important;
}

#shows .mobile_img{
    display: block !important;
    margin: 0 auto !important;
    width: 100% !important;
}

.arr_container{
    transition: 4s ease-in-out !important;
    animation: pulse 2s infinite !important;
}
.close_icon img{
    width: 20px !important;
}

@keyframes pulse{
    0%{
        transform : translateY(0%);
    }
    50%{
        transform : translateY(10%);
    }
    100%{
        transform : translateY(0%);
    }
}

#connect .body{
    display: grid !important;
    align-items: center !important;
    justify-content: space-between;
    width: 100% !important;
    grid-template-columns: auto auto !important;

}

#connect .body a{display: block;margin: 25px 0 !important;}

#gallery .gallery_container{
    height: 740px;
    overflow: hidden !important;
}

#gallery .left_gallery img{
    height:500px !important;
}

.expand_gallery{
    display: flex !important;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 100px !important; */
}

.expand_gallery h5{
    font-family: var(--text-font);
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: #01A9B4;
}

#mymusic #my_music_tray{
    height: 1720px ;
    overflow: hidden !important;
}

#mymusic .img_container{
    width: 315px !important;
    margin: 0 auto !important;
}

#mymusic .img_holder{
    width: 300px !important;
    height: 300px !important;
}

@media only screen and (min-width:768px){
    .mymusic_gallery{
        justify-content: space-between;
        grid-template-columns: auto auto;
    }
    .mymusic_gallery .content{
        width: 300px;
    }   
    .left_gallery .content{width: 90% !important;}
    .right_gallery .content{ width: 100% !important;}
    .call_to_action_section .txt{text-align: left !important;}
    #shows .call_action_btn{justify-content: flex-end !important;}
    .btns{text-align: left;}
    .btns img{margin:0;margin-right: 20px;}

    #mymusic .header h1,#gallery .header h1,
    #shows .header h1,#connect .header h1
    {
        font-size: 48px !important;
    }

    #gallery .call_to_action_section .year{width:fit-content;margin: 0 !important;}
    #shows .img_container{
        height: auto !important
    }
    .arr_container{
        margin-top: 0px !important;
    }
    #gallery .gallery_container,
    #mymusic #my_music_tray{
        height: auto !important;
        overflow: auto !important;
    }

    .expand_gallery{
        display: none !important;
    }
    #connect .body{
        width: 80% !important;
    }

    #shows .desktop_img{
        display: block !important;
    }
    
    #shows .mobile_img{
        display: none !important;
    }

    #gallery .left_gallery img{
        height:808px !important;
    }
    .btn_container button{
        width:244px;height:69px;font-size: 20px !important;
    }
}

@media only screen and (min-width:992px){
    .call_action_btn,.scroll_down{justify-content: flex-end !important; }
        
    #connect .body{
        grid-template-columns: auto auto auto !important;    
    }

    #connect .body a{display: block;margin-bottom: 25px!important;}

    .txt_container,#home .call_action_btn{
        width: 482px !important;
    }
    .txt_container{margin:0 !important; margin-top: 220px !important;}
    .txt_container .txt h1{
        font-size: 26px !important;
    }

}

@media only screen and (min-width:1200px){
    #home{
        background-size: 100% !important;
    }
    
    .body{
        width: 95%;
    }
    #shows .body{
        width: 100%;
    }
    .mymusic_gallery{
        grid-template-columns: auto auto auto;
    }
    #connect .body{
        grid-template-columns: auto auto auto auto auto auto !important;    
    }
}
